body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background-color: #F1F1F1;
}

a, a:hover {
    text-decoration: none;
}

.card {
    border-radius: 10px;
    background-color: #222;
    text-align: center;
    cursor: pointer;
    height: 218px;
}

.card:hover img {
    width: 160px;
}

.card p {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}

.card img {
    width: 140px;
}

.navbar {
    background-color: #222;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 80px;
}

.navbar input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0 5px;
    font-size: 16px;
}

.pockemon {
    background-color: #222;
    /* height: calc(100vh + 24px); */
    color: #FFF;
}

.pockemon img {
    width: 100%;
}

.text-center {
    text-align: center;
}